@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu-label-home {
  @apply text-black font-semibold; 
}
.btn-default {
  @apply   hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

.btn-primary {
  @apply text-white bg-[#5D87FF] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
         font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 
         dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full;
}

.button {
  @apply  text-white bg-[#5D87FF] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
}